*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 15px 5px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    border-radius: 8px;
    padding: 10px;
}

.btn:hover {
    border-color: black;
}

.start-btn, .next-btn {
    font-size: 30px;
    font-weight: bold;
    padding: 15px;

}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}